@charset "UTF-8";
/** 아이콘 정리*/
.ico-phone::before{
     display: block;
    content:"";
    background: url(../../img/icon/ico-phone.svg)no-repeat;
    width: 18px;
    height: 18px;
}
.ico-email::before{
     display: block;
    content:"";
    background: url(../../img/icon/ico-email.svg)no-repeat;
    width: 18px;
    height: 18px;
}
.ico-parking::before{
     display: block;
    content:"";
    background: url(../../img/icon/ico-parking.svg)no-repeat;
    width: 18px;
    height: 18px;
}
.ico-transit::before{
     display: block;
    content:"";
    background: url(../../img/icon/ico-transit.svg)no-repeat;
    width: 18px;
    height: 18px;
}

.sub-content.line{
    border-top: 1px solid #C6C6C6;
    padding-top: 30px;
}
.sub-content.line .info_tit{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.sub-content.line p{
    font-size: 16px;
}
.bbs-search-wrap.sido_search{
    display: block;
    padding: 20px 30px;
}
.bbs-search-wrap.sido_search .search-top-box{
    display: block;
}
.bbs-search-wrap .search-top-box .form-tit label{
    line-height: 48px;
}
.bbs-search-wrap.sido_search .search-top-box .guide::before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 99px;
    background: #999999;
    display: inline-block;
    vertical-align: middle;
}
.bbs-search-wrap.sido_search .search-top-box .guide{
    font-size: 14px;
    line-height: 120%;
    color: #464C53;
    float: right;
    margin-top: -34px;
}
/*연혁*/
.depth4_tab ul {
    display: table;
    width: calc(100% + 0px);
    table-layout: fixed;
    background: #F4F4F8;
    border-radius: 10px;
    margin: 40px 0px;
    padding: 8px;
}
.depth4_tab ul li.active > a {
    font-weight: 600;
    color: #fff;
    background-color: #1C2F62;
    border-radius: 10px;
}
.depth4_tab ul a {
    display: block;
    text-align: center;
    line-height: 1.2;
    word-break: keep-all;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.depth4_tab ul > * {
    display: table-cell;
    padding-right: 0px;
    vertical-align: middle;
}
.depth4_tab ul li {
    font-size: 16px;
    font-weight: 500;
    color: #555;
}
.depth4_tab ul a:hover, .depth4_tab ul a:focus {
    color: #111;
}
.depth4_tab_sido ul {
    display: table;
    width: calc(100% + 0px);
    table-layout: fixed;
    background: #F4F4F8;
    border-radius: 10px;
    margin: 40px 0px;
    padding: 8px;
}
.depth4_tab_sido ul li.active > a {
    font-weight: 600;
    color: #fff;
    background-color: #1C2F62;
    border-radius: 10px;
}
.depth4_tab_sido ul a {
    display: block;
    text-align: center;
    line-height: 1.2;
    word-break: keep-all;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.depth4_tab_sido ul > * {
    display: table-cell;
    padding-right: 0px;
    vertical-align: middle;
}
.depth4_tab_sido ul li {
    font-size: 16px;
    font-weight: 500;
    color: #555;
}
.depth4_tab_sido ul a:hover, .depth4_tab ul a:focus {
    color: #111;
}

.history_wrap .tit {
    text-align: center;
}
.history_wrap .tit .txt1 {
    font-size: 45px;
    color: #111;
    font-weight: 800;
    display: block;
    margin-bottom: 64px;
    line-height: 1.3;
    word-break: keep-all;
    letter-spacing: -0.9px;
}
.history_wrap .tit .point {
    color: #002BC6;
    font-weight: 800;
}
.history_wrap .list {
    position: relative;
    overflow: hidden;
    padding-left: 40px;
}
.history_wrap .list .year_box {
    position: relative;
    margin-bottom: 40px;
    float: left;
    margin-right: 100px;
}
.history_wrap .list .from .year_box {
    margin-right: 75px;
}
.history_wrap .list .year_box::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: -40px;
}
.history_wrap .list .year {
    font-size: 34px;
    font-weight: 700;
    color: #0D0E10;
    line-height: 150%;
}
.history_wrap .list li {
    position: relative;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.history_wrap .list li::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #ddd;
    position: absolute;
    top: 26px;
    left: -36px;
}
.history_wrap .list li::after {
    content: "";
    width: 2px;
    height: 0;
    background-color: #002BC6;
    position: absolute;
    top: 26px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    left: -36px;
}

.history_wrap .list li:last-child {
    padding-bottom: 0;
}
.history_wrap .list li.effect::after {
    height: 100%;
}
.history_wrap .list li .txt_box{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    /*align-items: center;*/
}
.history_wrap .list li .month {
    margin-left: 0 !important;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    color: #0D0E10;
    width: 180px;
    flex-shrink: 0;
}
.history_wrap .list li span{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--krds-gap-4);
    width: 100%;
    flex:auto;
    flex-grow: 1;
}
.history_wrap .his_inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;  
}
/*인사말*/
.greeting_img{
    position:relative;
    padding-top:62px;
    margin-bottom: 40px;
}
.greeting_img .title{
    color:#222;
    font-size:28px;
    font-weight:bold;
    letter-spacing:-0.43px;
    line-height:1.5;
    display:inline-block;
    position:relative;
    padding: 0px 30px;
}
.greeting_img .title > span{
    color:#0050CA
}
.greeting_img .title > span.secondary{
    color:#00AAFF
}
.greeting_img .title:before{
    margin-left:-40px
}
.greeting_img .title:before,
.greeting_img .title:after{
    content:'';
    background-image:url(../../img/sub/talk_s.png);
    background-repeat:no-repeat;
    width:26px;
    height:23px;
    position:absolute;
    left:70px;
    top:-30px;
    background-size:cover
}
.greeting_img .title:after{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    left:inherit;
    left:20px;
    bottom:-30px;
    top:inherit;
    margin-left:10px
}
.greeting_img .txt{
    border-radius:0px 99px 0px 99px;
    background:#0050CA;
    padding:54px 68px;
    color:#fff;
    font-size:21px;
    font-weight:500;
    margin-top:62px;
}
.greeting_img .txt b{
    font-weight:bold;
    color: #EAFF12;
}
.greeting_img .img{
    position:absolute;
    right:25px;
    bottom:0;
    width: 300px;
}
.greeting p{
    padding: 10px 0px;
    line-height: 30px;
}
.greeting span{
    color:#0050CA;
    font-weight: bold;
}
.greeting_sign{
    color:#000;
    font-size:23px;
    font-weight:bold;
    margin-top:47px;
    justify-content:flex-end;
    align-items:flex-end;
    -ms-flex-align:flex-end;
    display:flex;
    display:-ms-flexbox
}
.greeting_sign img{
    margin-left:20px
}
/*정관*/
.rule_pdf{
    line-height: 32px;
    margin-bottom: 14px;
}
.rule_pdf button{
    float: right;
}
.rule_bookmark{
    display: table;
    width: 100%;
    border-radius: 12px;
    background: var(--gray-gray-5, #F8F8F8);
    padding: 20px 40px;
    row-gap: 10px;
    column-gap: 20px;
}
.rule_bookmark .row{
    display: table-row;
}
.rule_bookmark .row ul{
    display: table;
    width: calc(100% + 0px);
}
.rule_bookmark ul li{
    display: table-cell;
    vertical-align: middle;
    padding: 0px 0px 0px 24px;
    width: 33.33%;
    line-height: 36px;
    background:url(../../img/icon/rule_list.svg) no-repeat;
    background-position: 0 center;
}
.rule_bookmark ul li.last{
    width: auto;
}
.rule{

}
.rule_info{
    padding-top: 20px;;
}
.rule_info .tit{
    color: #0050CA;
    font-size: 24px;
}    
.rule_info .tit a{
    padding-top: 20px;
    display: block;
}
.rule_info .sub_tit{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;;
    margin-bottom: 10px;
}
.rule_info p.small{
    font-size: 14px;
}
.Moral .tit{
    text-align: center;
    padding-top: 50px;
}
.Moral > p{
    padding: 30px 0px;
    border-bottom: 1px solid #D9D9D9;
}
.Moral .tit span{
    color: #0050CA;
    font-size: 24px;
    font-weight: 700;
}
.Moral .tit span a{
    padding-top: 30px;
}
.Moral .tit p{
    padding-top: 10px;
    font-size: 14px;
}
.Moral .rule_bookmark{
    margin-top: 20px;
}
.Moral .rule_info .sub_tit{
    font-size: 18px;
    font-weight: 400;
}
.Moral .rule_info .sub_tit a{
    padding-top: 20px;
}
.tab.full > ul{
    gap: 0;
}
.tab.line.full a{
    width: 100%;
}
/*주요사업*/
.business_title{
    border-radius: 12px;
    background:url(../../img/sub/business_man.png) no-repeat right bottom #f7f8fb;
    height: 300px;
    position: relative;
}
.business_title .text{
    font-size: 28px;
    color: #0D0E10;
    font-weight: 700;
    padding-left: 40px;
    position: absolute;
    top: 50%;
    margin-top: -55px;
}
.business_title .text p{
    font-size: 24px;
    color: #464C53;
    font-weight: 400;
}
.business_title .text p b{
    color: #0050CA;
    font-weight: 700;
}
.business_info{
    margin: 40px auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.business_info .work1{
    background:url(../../img/sub/business_work1.png) no-repeat center top;
}
.business_info .work2{
    background:url(../../img/sub/business_work2.png) no-repeat center top;
}
.business_info .work3{
    background:url(../../img/sub/business_work3.png) no-repeat center top;
}
.business_info .work4{
    background:url(../../img/sub/business_work4.png) no-repeat center top;
}
.business_info div{
    padding-top: 161px;
}
.business_info div p{
    text-align: center;
    color: #0050CA;
    font-size: 13px;
    font-weight: 700;
    padding: 20px 0px;
}
.business_info div ul li::before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 99px;
    background: #0050CA;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.business_info div ul li{

}
/*조직도*/
.chart_info{
    margin-top: 40px;
}
.chart_pc{
    display: block;
}
.chart_mo{
    display: none;
}
.organizaion_info{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #C6C6C6;
}
.organizaion_info .info_tit{
    font-size: 18px;
    font-weight: 700;
}
.organizaion_info p{
    font-size: 16px;
}
.organizaion_box{
    margin-top: 20px;
}
.organizaion_box .tit{ 
    font-size: 18px;
    font-weight: 700;
}
.organizaion_box .tit::before{ 
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 99px;
    background: #0D0E10;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.organizaion_box ul{ 
    display: flex;
    /*flex-direction: column;*/
    gap: 10px;
    flex: 1 0 0;
    margin-top: 6px;
}
.organizaion_box ul li{     
    border-radius: 10px;
    border: 1px solid #C6C6C6;    
    padding: 10px 20px;
    flex: 1;
    position: relative;
    padding-bottom: 40px;
    letter-spacing: -1px;
}
.organizaion_box ul li p{ 
    margin-top: 6px;
    font-size: 14px;
    background:url(../../img/icon/phone.svg) no-repeat left center;
    padding-left: 24px;
    position: absolute;
    bottom: 10px;
    letter-spacing: 0px;
}
/*시도회*/
.sido_info{
    margin-top: 40px;
}
.cont_menu{float: right;}
.cont_menu p{
    color: #7D7D7D;
    font-size: 14px;
}
.sido_info .list{
    margin-top: 10px;
    overflow:hidden;
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    gap: 14px;
}
.sido_info .list li{

}
.sido_info .list li.is_on .btn{
    color: #ffffff;
    background: #08A895;
    border: 1px solid #08A895;
}
.sido_info .list .btn{
    font-size:16px; 
    border-radius: 99px;
    border: 1px solid #C6C6C6;
    background: #FFF;
    width: 180px;
    line-height: 40px;
    display: block;
    text-align: center;
}
.sido_info .cont_area{
    margin-top:10px; 
    width: calc(100% - 430px);
    padding: 30px;
    background:#F7F8FB;
}
.sido_info .cont_area .cont{
    display:none; 
}
.sido{
    font-size: 16px;
    border-top: 1px solid #C6C6C6;
    padding-top: 20px;
    margin-top: 30px;
    position: relative;
}
.sido .tit{
    color: #0D0E10;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 6px;
    display: block;
}
.sido ul li{
    padding-left: 24px;
    line-height: 30px;
}
.sido ul li.address{
    background:url(../../img/icon/ico-location.svg) no-repeat left 5px;
}
.sido ul li.phone{
    background:url(../../img/icon/phone.svg) no-repeat left center;    
}
.sido .btn_go{
    position: absolute;
    right: 0px;
    top: 14px;    
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;    
}
.sido .btn_go a{
    padding: 6px 30px 6px 20px;
    cursor: pointer;
    display: inline-block;
    background: url('../../img/icon/arrow-right_w.svg') no-repeat 90% center #0D0E10;    
    border-radius: 99px;
}
/** 오시는길 */

.center-map {
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1044 / 500;
  margin-top: 40px;
}

.center-map .root_daum_roughmap_landing {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px;
}

.center-info{margin-top:30px; }
.center-address { color: var(--color-text-title, #0D0E10); font-size: 18px; font-weight: 700; margin-bottom: 20px; }

.center-info-list{display:flex; flex-direction:column; gap:10px}
.center-info-list > li{display: flex; gap:10px; align-items: center; }

.center-info .label{flex: 0 0 auto; display: flex; align-items: center; gap:10px; font-size: 14px; color:#464C53}
.center-info .text{flex: 1 auto; display: flex;  gap:10px; justify-content: flex-start; font-size: 16px; color:#0D0E10}
.center-info .text.point{
    color: #0050CA;
    font-weight: 600;
}
.center-info-contact .contact-list {
    display: flex;
    gap:10px;
    width: 100%;
    align-items: center;
}
.center-info-contact .contact-list .contact-item{
    display: flex;
    gap:10px
}

.contact-divider::before{width: 1px;
height: 14px; background: #CDD1D5; display: block; content: ""; margin: 0 10px; flex-shrink: 0;}

.center-info-transit > .text{display: flex; gap:10px; flex-wrap: wrap;}

.transit-line .line-name{
    display: inline-flex;
    height: 24px;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    color: #FFF;
    font-size: 14px;
}

.transit-line .line-name.subway4 { background: var(--color-secondary, #0AF)}
.transit-line .line-name.subway1 { background: var(--color-secondary, #0050CA)}

.sch-right{display: flex; align-items: center; gap:20px; padding:0 10px}
/*간호조무사란*/
.nurse_info{
    display: flex;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}
.nurse_info .nurse_img{
    width: 400px;
    border-radius: 40px;
}
.nurse_info .nurse_img img{
    border-radius: 40px;
}
.nurse_info .nurse{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
}
.nurse_info .nurse .title{
    color: #0050CA;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}
.nurse_info .nurse b{
    color: #0AF;
}
@media (max-width: 768px) {
    .sub-content.line p br{
        display: none;
    }
    .bbs-search-wrap.sido_search .search-top-box .guide{
        float: none;
        margin-top: 10px;
    }
    .depth4_tab {
        position: relative;
        margin-bottom: 60px;
        height: 50px;
    }
    .depth4_tab ul {
        padding: 0;
        border-radius: 20px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: #F9F9F9;
        box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.2);
    }
    .depth4_tab ul > li {
        visibility: hidden;
        overflow: hidden;
        width: 0;
        height: 0;
        opacity: 0;
        display: block;
    }
    .depth4_tab ul > li a {
        position: relative;
        text-align: left;
        padding: 13px 40px 13px 20px;
        display: block;
        height: auto !important;
        line-height: 1.5;
        font-size: 18px;
    }
    .depth4_tab ul > li.active {
        visibility: visible;
        overflow: visible;
        width: auto;
        height: auto;
        opacity: 1;
    }
    .depth4_tab ul > li.active a::after {
        position: absolute;
        top: auto;
        left: auto;
        right: auto;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        background-image: url(../img/icon/arrow-down.svg);
        filter: invert(100%) sepia(57%) saturate(1%) hue-rotate(256deg) brightness(105%) contrast(100%);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        width: 24px;
        height: 24px;
    }
    .depth4_tab.active ul > li {
        visibility: visible;
        overflow: visible;
        width: auto;
        height: auto;
        opacity: 1;
    }
    .depth4_tab.active ul > li.active a::after {
        display: none; /*transform: rotate(180deg);*/
    }
    .history_wrap .list{
        padding-left: 30px;
    }
    .history_wrap .list li {
        padding-bottom: 40px;
    }
    .history_wrap .list .year_box {
        margin-left: 0px !important;
        text-align: left !important;
        padding-left: 0 !important;
        margin-bottom: 10px;
        float: none;
    }
    .history_wrap .list .year_box::before{
        left: -30px;
    }
    .history_wrap .list li::before{
        left: -26px;
    }
    .history_wrap .list li::after{
        left: -26px;
    }
    .history_wrap .list li .txt_box{
        display: block
    }
    .history_wrap .list li .month {
        font-size: 16px;
    }
    .grades article > ul > li .txt .tit{
        width:260px;
        padding-right:30px;
        word-break:break-word
    }

    .greeting_img .img{
        position:static;
        display:block;
        text-align:center;
        margin:auto;
    }
    .greeting_img{
        padding-top:30px;
        margin-bottom: 20px;
    }
    .greeting_img .title{
        margin:30px 0px 20px;
        width: 100%;
        text-align: center;
        font-size: 24px;
    }
    .greeting_img .txt{
        margin-top:10px;
        border-radius:20px;
        text-align:left;
        padding: 30px;
        font-size: 18px;
    }
    .greeting_img br{
        display: none
    }
    .greeting_img .title:before{
        left:50px;
        top:0px;
    }
    .greeting_img .title:after{
        right:10px;
        bottom:0px;
        left: auto;
    }
    .rule_pdf{
        line-height: 24px;
        margin-bottom: 0px;
    }
    .rule_pdf button{
        margin-top: 10px;
        float: none;
    }
    .rule_bookmark{
        display: none;
    }
    .business_title {
        background-size: 300px;
        height: 320px;
    }
    .business_title .text{
        padding: 20px 0px 0px 20px;
        font-size: 20px;
        top: auto;
        margin-top: auto;
    }
    .business_title .text p {
        font-size: 18px;
    }
    .business_title .text p br{
        display: none;
    }
    .business_info{
        display: block;
        margin: 40px 0px 0px;
        width: 100%;
    }
    .business_info div {
        display: inline-block;
        width: 50%;
        float: left;
        margin-bottom: 40px;
    }
    .business_info div ul li::before{
        display: none;
    }
    .business_info div ul li{
        text-align: center;
    }
    .chart_pc{
        display: none;
    }
    .chart_mo{
        display: block;
        margin: 0 auto;
    }
    .organizaion_box ul{ 
        display: grid;
    }
    .organizaion_box ul li{ 
        letter-spacing: 0px;
    }
    .cont_menu{
        float: none;
        position: relative;
    }
    .sido_info{
        margin-top: 30px;
    }
    .sido_info .list{
        width: auto;
        gap: 0px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding-bottom: 10px;
    }
    .sido_info .list .mob-overflow-icon::before{
        top: 75%;
        right: -10px;
    }
    .sido_info .list .btn{
        padding: 0px 10px;
        line-height: 36px;
        border-radius: 0px;
        margin-left: -1px;
    }
    .sido_info .list::before{
        border-left: 1px solid #C6C6C6;
    }
    .sido_info .cont_area{
        width: 100%;
        padding: 20px;
    }
    .sido .btn_go{
        font-size: 14px;
    }
    .center-info-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
        .center-info-contact .contact-list {
        align-items: flex-start;
        flex-direction: column;
        gap:0
    }
    .center-info-list > li {
        display: flex;
        gap: 5px;
        align-items: flex-start;
        flex-direction: column;
    }

    .contact-divider::before {
        display: none;
    }

    .center-info-transit > .text {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    .center-map {
    position: relative;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1044 / 700;
    }
    .nurse_info{
        display: block;
    }
    .nurse_info .nurse_img{
        width: 100%;
    }
    .nurse_info .nurse_img img{
        width: 100%;
    }
    .nurse_info .nurse{
        margin-top: 40px;
    }
    .nurse_info .nurse .title br{
        display: none;
    }
    .tab.full.xscroll > ul > li{
        white-space: normal;
    }
    .tab.xscroll li, .tab.xscroll .btn-tab{
        white-space: normal;
        font-size: 15px;
        line-height: 20px;
        height: auto;
        padding-bottom: 4px;
        letter-spacing: -1px;
    }
}