/** 버튼 재정의 */
.krds-btn.black {
    background-color: #252525;
    border-color: #252525;
    color: #fff;
}

.krds-btn.black:not(.icon) .svg-icon {
    background-color: #ffffff;
}

.krds-btn.black:hover {
    background-color: #444;
}

.krds-btn.black:active,
.krds-btn.black:focus {
    background-color: #252525;
}

.krds-btn.black[disabled],
.krds-btn.black.disabled {
    background-color: var(--krds-button--color-secondary-fill-disabled);
    border-color: var(--krds-button--color-secondary-border-disabled);
    color: var(--krds-button--color-secondary-text-disabled);
}

.krds-btn.black[disabled]:not(.icon) .svg-icon,
.krds-btn.black.disabled:not(.icon) .svg-icon {
    background-color: var(--krds-button--color-secondary-text-disabled);
}

.krds-btn.black[disabled]:hover,
.krds-btn.black.disabled:hover {
    background-color: var(--krds-button--color-secondary-fill-disabled);
    border-color: var(--krds-button--color-secondary-border-disabled);
    color: var(--krds-button--color-secondary-text-disabled);
}


.guide-txt {
    font-size: var(--krds-pc-font-size-body-large);
    padding: var(--krds-pc-padding-card-small);
    border-radius: var(--krds-radius-xlarge2);
    background: var(--gray-gray-5, #F8F8F8);
    border: 1px solid var(--color-border-nomal, #C6C6C6);
}
.guide-txt-title{display: inline-flex; align-items: center; gap:4px; margin-bottom: 20px;}
.guide-txt-title::before {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  content: "";
  display: inline-flex;
  width: 30px;
  height: 30px;
  -webkit-background-repeat: no-repeat;
  -webkit-background-position: center center;
  -webkit-background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-background-image: url(../../img/icon/guide_check.svg);
  background-image: url(../../img/icon/guide_check.svg);
}

.guide-txt .bold{
    color: #0050CA;
}

.guide-list li{display: inline-flex; align-items: center; gap:8px;}
.guide-list li::before {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  content: "";
  display: inline-flex;
  width: 20px;
  height: 20px;
  -webkit-background-repeat: no-repeat;
  -webkit-background-position: center center;
  -webkit-background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-background-image: url(../../img/icon/round_check.svg);
  background-image: url(../../img/icon/round_check.svg);
}


#krds-header .header-container .btn-navi {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--krds-header--navi-gap);
    min-height: var(--krds-header--navi-min-height);
    padding: var(--krds-header--navi-padding);
    border-radius: var(--krds-header--navi-border-radius);
    font-size: var(--krds-header--navi-font-size-pc);
    font-weight: var(--krds-font-weight-bold);
    color: var(--krds-header--navi-color-text);
    transition: var(--krds-transition-base);
}


#krds-header .header-container .logo.klpna {
    display: inline-flex;
    width: 25rem;
    height: 4rem;
}


#krds-header .header-container .logo.klpna a {
    background-image: url(../../img/logo/klpna-logo.svg);
    background-repeat: no-repeat;
}


/* popup */
.krds-modal[data-type=small]{
    
}
.krds-modal[data-type=small] .modal-dialog{
width:var(--krds-modal--size-small);    
}


/** 노트북 */
@media (max-width: 1440px) {
}

/** 테블릿 */
@media (max-width: 1023px) {
}

/** 모바일 */
@media (max-width: 767px) {
.bbs-search-wrap .select-style{width: 100%;}
}

@media (max-width: 479px) {
}

@media (max-width: 320px) {
}

