#krds-header .header-container .btn-navi {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--krds-header--navi-gap);
    min-height: var(--krds-header--navi-min-height);
    padding: var(--krds-header--navi-padding);
    border-radius: var(--krds-header--navi-border-radius);
    font-size: var(--krds-header--navi-font-size-pc);
    font-weight: var(--krds-font-weight-bold);
    color: var(--krds-header--navi-color-text);
    transition: var(--krds-transition-base);
}


#krds-header .header-container .logo.klpna {
    display: inline-flex;
    width: 25rem;
    height: 4rem;
}


#krds-header .header-container .logo.klpna a {
    background-image: url(../../img/logo/klpna-logo.svg);
    background-repeat: no-repeat;
}


/** 노트북 */
@media (max-width: 1440px) {
}

/** 테블릿 */
@media (max-width: 1023px) {
}

/** 모바일 */
@media (max-width: 767px) {
.bbs-search-wrap .select-style{width: 100%;}
}

@media (max-width: 479px) {
}

@media (max-width: 320px) {
}

